.quiz{
    display: flex;
    height: calc(100dvh - 30px);
    width: 700px;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.container{
    background: #323437;;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
}
.nextButton{
    width: 150px;
    padding: 15px;
    align-self: end;
}
.score{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #D1D0C5;
    align-self: flex-end;
}
.yellow{
    color: #E2B714;
}


.scoreNumber{
    color: #E2B714;
    text-align: center;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrongAnswersButton{
    display: flex;
}

.wrongQuesitons{
   padding: 5px;
}

.wrongAnswers{
    color: grey;
}

.question{
    padding: 5px;
}

.end{
    width: 170px;
    padding: 15px;
    background-color: #E2B714;
    color: #323437;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: medium;
}

@media (max-width: 700px) {
    .quiz{
        display: flex;
        height: calc(100dvh - 30px);
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    .container{
        background: #323437;
        padding: 15px;
        width: 400px;
    }
    .nextButton{
        width: 150px;
        padding: 15px;
        align-self: center;
    }
    .score{
        padding-top: 5px;
        padding-bottom: 5px;
        color: #D1D0C5;
        align-self: center;
        overflow: auto;
    }
    .options{
        width: 275px;
    }
    .nextButton{
        margin: 5px;
    }
}